.div {
	border: 1px solid black;
	
	width: 200px;
	padding: 2px;
	box-shadow: 4px 4px 2px #888888;
	
	
	float:left; 
    width:200px;
    margin:10px;
}

#wrapper {
    overflow:hidden; 
    margin-bottom:10px;
}


.delete {
	float:right;
}

.edit {
	float:left;
	padding-top: 2px;
}

#addNew {
	float:right;
	top: 20;
	left: 20;
	width:300px;
}

.button {
	background-color: gold;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	border: 1px solid #000000;
}

.button:hover {
	background-color: #c0c0c0;
	text-decoration: none;
	color: black;
}

.table-add {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 300px;
	border-collapse: collapse;
	border-spacing: 0;
}

table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid transparent;
	height: 30px;
	transition: all 0.3s;
}

th {
	background: #DFDFDF;
	font-weight: bold;
}

td {
	background: #FAFAFA;
	text-align: center;
}

tr:nth-child(even) td {
	background: #F1F1F1;
}

tr:nth-child(odd) td {
	background: #FEFEFE;
}

tr td:hover {
	background: #666;
	color: #FFF;
}